:host {
	margin-bottom: 2vh;
}

.spinner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30vh;
	h1 {
		margin: 10vh 10% 0;
		text-align: center;
	}

	a {
		margin-top: 2vh;
	}
}

#bgVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.content {
	position: relative;
	top: 0;
	left: 0;
	color: #f1f1f1;
}

i:last-child {
	display: flex;
	flex-direction: row-reverse;
	padding: 1%;
}

.mat-button-toggle-checked {
	background-color: #0000008a !important;
	color: #fff !important;
}

.mat-button-toggle {
	color: #ffffffd4;
}

#main,
#toogle-group {
	text-align: center;
	color: #fff;
}

#main {
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;

	h1,
	i {
		font-size: 2.8em;
		padding: 1%;
	}
}

#forecast {
	display: flex;
	flex-grow: 1;
	text-align: center;
	flex-wrap: nowrap;
	justify-content: space-around;

	mat-card {
		text-align: center;
		margin: 0 1%;
		width: 10%;
		i {
			font-size: 3em;
		}
	}

	p {
		color: #444444de;
	}

	@media only screen and (max-width: 839px) {
		flex-direction: column;

		mat-card {
			margin: 1%;
			width: 90%;
		}
	}

	// Hide today's card
	mat-card:first-child {
		display: none;
	}
}
